{namespace olioc=OLIGOFORM\ContentOwlcarousel\ViewHelpers}
<f:if condition="{data.image}">
<div id="owl-cId{data.uid}" class="owl-ce owl-carousel owl-theme {f:if(condition:data.imageborder, then:'border', else:'')}">
<olioc:fal data="{data}" as="images" field="image">
	<f:for each="{images}" as="image" iteration="itemIteration">
		{olioc:item(index:itemIteration.index, image: image, settings:settings, data:data)}
	</f:for>
</olioc:fal>
</div>
</f:if>
<f:if condition="{settings.bodytext.crop.maxChar}"><f:then>
	<f:format.crop maxCharacters="{settings.bodytext.crop.maxChar}" append="&nbsp;{settings.bodytext.crop.append->f:link.page(additionalParams:'{projekt:{showUid:data.uid}}', title:settings.bodytext.crop.append)} " >
	{data.bodytext->f:format.html()}
	</f:format.crop>
	</f:then>
<f:else><div itemprop="description">{data.bodytext->f:format.html()}</div></f:else></f:if>
